.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.targetElement {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  padding: 5px 7px;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #777;
  z-index: 9999;
  opacity: 1 !important;
  white-space: nowrap !important;
}

.tooltip.top {
  bottom: 130%;
  transform: translateX(-50%);
  left: 50%;
}

.tooltip.bottom {
  top: 130%;
  transform: translateX(-50%);
  left: 50%;
}

.tooltip.right {
  left: 130%;
  transform: translateY(-50%);
  top: 50%;
}

.tooltip.left {
  right: 105%;
  transform: translateY(-50%);
  top: 50%;
}
