.bttn {
  position: relative;
  background-color: #17a2b8;
  border: none;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 3px gray;
  &:hover {
    background-color: #148ea1;
  }
  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
  &.active {
    background-color: #23C9FF;
    border: 1px solid #5EB2F2;
    box-shadow: 0px 0 2px 0px #C0C0C0;
  }
}